.app-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $colour-primary-tint;
}
.btn-back  {
    &.hidden {
        opacity: 0;
    }
    margin: 0;
    padding: .65em 0;
    font-size: $font-large;
    transition: opacity 1s;
}
.app-title {
    display: none;
}
.btn-back {
    position: absolute;
    left: 0;
    width:10%;
}

.ripple-logo {
    width: 35%;
    margin: 0 auto;
    padding: 1em 0 1em;
    fill: $colour-tertiary;
    .logo-secondary {
        opacity: .75;
    }
}